CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.xml
*.iml
*.cbp
CMakeLists.txt
/.idea/*

*.aux
*.fdb_latexmk
*.toc
*.synctex.gz
*.fls
*.log
mcode.sty
